body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.hide{
    display: none;
}
#startPage{
    margin-top: 50px;
}
#startBtn{
    padding: 0px 6px;
}
#highscoreBtn{
    cursor: pointer;
    color: blue;
}
.btn{
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    color: azure;
    background-color: blue;
    border-radius: 5px;
}
.btn:hover{
    background-color: cornflowerblue;
}
#initalSubmit{
    margin-left: 5px;
    padding: 0px 6px;
}
#enterI{
    float: left;
}
#answers li{
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 5px;
    float: left;
    clear: both;
    list-style-position: inside;
    color: azure;
    background-color: blue;
}
#answers li:hover{
    background-color: cornflowerblue;
}
#scoreList{
    padding-left: 18px;
    background-color: cornflowerblue;
    border: 1px solid black;    
}